body {
  background: black;
  background-image: url('img/darkness.png');
  background-repeat: repeat;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  padding-top: 15px;
  padding-bottom: 15px;
  /* background: #252525;
  background: linear-gradient(#2a2a29, #1c1c1c); */
  color: #f7f7fb;
}

hr {
  border-top: 1px solid #FF70A6 !important;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #FF9770;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: #0ACDFF;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  color: #E9FF70;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.35rem;
}

a {
  color: #82FF9E;
  text-decoration: underline;
}


figure {
  width: 50%;
  margin: 3rem auto !important;
}

img {
  max-width: 100%;
}

figcaption {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.15rem;
  color: #82FF9E;
}